<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Page Potin</h1>
    <p> Voici la page du potin numéro <%= params[:id] %>
     Son auteur : <%= gossip.author %><br/>
    Le contenu du potin : <%= gossip.content %></p>
    <p>Lien pour revenir à la page des potins<p>
  <body>
</html>